.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header__left-box
        %h2.chat-main__header__left-box__current-group
          = @group.name
        %ul.chat-main__header__left-box__member-list
          Member：
          - @group.users.each do |user|
            %li.chat-main__header__left-box__member-list__member
              = user.name
      = link_to edit_group_path(@group) do
        .chat-main__header__edit-btn Edit
    .chat-main__messages
      = render @messages
    .chat-main__form
      = form_for [@group, @message] do |f|
        .chat-main__form__new-message
          .chat-main__form__new-message__input-box
            = f.text_field :text, class: "chat-main__form__new-message__input-box__text", placeholder: "type a message"
            = f.label :image, class: "chat-main__form__new-message__input-box__image" do
              = fa_icon "image"
              = f.file_field :image, class: "chat-main__form__new-message__input-box__image__file"
          = f.submit 'Send', class:"chat-main__form__new-message__submit-btn"